<a href="https://colab.research.google.com/github/LeelavathiPavithra/Analysing_Housing_Prices_in_metropolit_Areas_of_India_NM2023TMID29008/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

In [3]:
a=4
b=6
print(a)
print(b)
print(a+b)

4
6
10

In [7]:
a=4
b=6
c=True
d="Good Afteroon"
print(a)
print(b)
print(a+b)
print(c)
print(d)

4
6
10
True
Good Afteroon

In [12]:
list=[2,4,6,8,10,12,14,16,18,20]
tuple=("a","b","c","d","e")
print(list)
print(tuple)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
('a', 'b', 'c', 'd', 'e')

In [16]:
list=[1,2,3,4,5,6,7,8,9,10]
tuple=("a","b","c","d","e")
for i in range(len(list)):
   print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
import pandas as Leela
a=[2,4,6,8,10]
a=Leela.Series(a)
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [29]:
b={
    "Name":["Leelavathi","Pavithra","Devika","Uma","Anitha","Soniya","Buji","Anbarasi"],
    "Age":[19,20,20,17,32,23,1,43],
    "Gender":["F","F","F","F","F","F","F","F"],
}
b=Leela.DataFrame(b)
print(b)

         Name  Age Gender
0  Leelavathi   19      F
1    Pavithra   20      F
2      Devika   20      F
3         Uma   17      F
4      Anitha   32      F
5      Soniya   23      F
6        Buji    1      F
7    Anbarasi   43      F